<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DHI.DFS" version="18.0.0" targetFramework="net472" />
  <package id="DHI.DHIfl" version="18.0.0" targetFramework="net472" />
  <package id="DHI.EUM" version="18.0.0" targetFramework="net472" />
  <package id="DHI.Generic" version="18.0.0" targetFramework="net472" />
  <package id="DHI.Math.Expression" version="18.0.0" targetFramework="net472" />
  <package id="DHI.Mike1D" version="18.0.0" targetFramework="net472" />
  <package id="DHI.Mike1D.BoundaryModule" version="18.0.0" targetFramework="net472" />
  <package id="DHI.Mike1D.ControlModule" version="18.0.0" targetFramework="net472" />
  <package id="DHI.Mike1D.CrossSectionModule" version="18.0.0" targetFramework="net472" />
  <package id="DHI.Mike1D.DataAssimilationModule" version="18.0.0" targetFramework="net472" />
  <package id="DHI.Mike1D.Engine" version="18.0.0" targetFramework="net472" />
  <package id="DHI.Mike1D.FloodMap" version="18.0.0" targetFramework="net472" />
  <package id="DHI.Mike1D.Generic" version="18.0.0" targetFramework="net472" />
  <package id="DHI.Mike1D.HDParameterDataAccess" version="18.0.0" targetFramework="net472" />
  <package id="DHI.Mike1D.Mike1DDataAccess" version="18.0.0" targetFramework="net472" />
  <package id="DHI.Mike1D.NetworkDataAccess" version="18.0.0" targetFramework="net472" />
  <package id="DHI.Mike1D.RainfallRunoffModule" version="18.0.0" targetFramework="net472" />
  <package id="DHI.Mike1D.ResultDataAccess" version="18.0.0" targetFramework="net472" />
  <package id="DHI.Mike1D.SimLauncher" version="18.0.0" targetFramework="net472" />
  <package id="DHI.Mike1D.StructureModule" version="18.0.0" targetFramework="net472" />
  <package id="DHI.PFS" version="18.0.0" targetFramework="net472" />
  <package id="DHI.Projections" version="18.0.0" targetFramework="net472" />
</packages>